@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name,
abbr.compass{
	white-space: nowrap;
}

abbr.era{
	font-variant: all-small-caps;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

section[epub|type~="halftitlepage"] span[epub|type~="subtitle"]{
	font-size: .75em;
}

[epub|type~="z3998:verse"] p,
[epub|type~="z3998:song"] p{
	text-align: left;
	text-indent: 0;
}

.tattoo p{
	text-align: center;
	text-indent: 0;
}

[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:song"] p > span,
.tattoo p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
.tattoo p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

p span.i3{
	text-indent: -1em;
	padding-left: 4em;
}

.headlines > p{
	text-align: center;
	text-indent: 0;
	margin: 0;
}
.headlines strong{
	font-variant: normal;
	font-style: italic;
	text-transform: none;
}
.headlines span{
	font-variant: all-small-caps;
}
.headlines em{
	font-style: normal;
	text-transform: uppercase;
}
