@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

dfn{
	font-variant: all-small-caps;
	font-weight: normal;
}

time{
	font-style: italic;
}

[epub|type~="chapter"] ol{
	list-style-type: upper-roman;
}

section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] p{
	margin: 25% auto;
	text-align: center;
	text-indent: 0;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}
/* End all epigraphs */

/* Epigraphs in section headers */
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

@supports(display: table){
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */

/* Verse and song */
[epub|type~="z3998:verse"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p + p,
[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

/* Drama style chapters */
[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}

p.persona{
	margin-top: 1em;
	text-align: center;
	text-indent: 0;
}

p.persona + p[epub|type~="z3998:stage-direction"]{
	margin-top: 0;
}

p.persona + p,
p[epub|type~="z3998:stage-direction"] + p{
	text-indent: 0;
}

[epub|type~="z3998:stage-direction"]{
	font-style: italic;
	font-variant: normal;
	text-transform: none;
}

[epub|type~="z3998:stage-direction"]::before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::after{
	content: ")";
	font-style: normal;
}

p[epub|type~="z3998:stage-direction"]{
	margin: .5em 0;
	text-align: center;
	text-indent: 0;
}

#chapter-38 p:nth-of-type(3){
	text-align: right;
}

p[epub|type~="z3998:stage-direction"].location{
	font-style: normal;
	font-variant: all-small-caps;
}

p[epub|type~="z3998:stage-direction"].location::before,
p[epub|type~="z3998:stage-direction"].location::after{
	content: none;
}

p[epub|type~="z3998:stage-direction"] + [epub|type~="z3998:song"]{
	margin-top: .5em;
}

/* Translations in Etymology */
[epub|type~="preamble"] table{
	margin-left: auto;
	margin-right: auto;
}

[epub|type~="preamble"] td:first-child{
	font-variant: small-caps;
}

[epub|type~="preamble"] td:first-child::after{
	content: ",";
}

[epub|type~="preamble"] td + td{
	font-style: italic;
	padding-left: 1em;
}

/* Headlines in Chapter 1 */
#chapter-1 blockquote > p{
	margin: 0;
	text-align: center;
	text-indent: 0;
}

#chapter-1 blockquote strong{
	font-style: italic;
	font-variant: normal;
	text-transform: none;
}

#chapter-1 blockquote p:nth-child(2){
	font-variant: all-small-caps;
}

#chapter-1 blockquote em{
	font-style: normal;
	text-transform: uppercase;
}

/* Gravestones in Chapter 7 */
.gravestone + .gravestone::before{
	border-top: 1px solid;
	content: "";
	display: block;
	height: 0;
	margin: 1.5em auto;
	width: 25%;
}

.gravestone > p{
	margin: 0;
	text-align: center;
	text-indent: 0;
}

.gravestone .alternate-voice{
	font-variant: all-small-caps;
}

.gravestone .memoriam{
	font-style: italic;
}

.gravestone .deceased{
	text-transform: uppercase;
}

/* Queequeg’s mark in chapter 18 */
#chapter-18 blockquote p{
	text-align: center;
}

#chapter-18 blockquote img{
	margin: 0 0.5em;
	vertical-align: middle;
	width: 0.875em;
}

/* Stores in chapter 101 */
#chapter-101 blockquote td{
	vertical-align: top;
}

#chapter-101 blockquote td:first-child{
	text-align: right;
}

[epub|type~="preamble"] header{
	font-variant: small-caps;
	font-weight: bold;
	margin-top: 3em;
}

#extracts blockquote cite i i{
	font-style: italic;
}
