@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

section[epub|type~="halftitlepage"] span[epub|type~="subtitle"]{
	font-size: .75em;
}
