@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

section[epub|type~="halftitlepage"] span[epub|type~="subtitle"]{
	font-size: .75em;
}

.tattoo{
	text-align: center;
}

.tattoo p{
	text-align: left;
	text-indent: 0;
}

.tattoo p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

.tattoo p > span + br{
	display: none;
}
